<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dobot Crypto Club</h2><hr class="light">
                <section class="no-padding "><img src="https://dobotcrypto.xyz/img/ezgif.com-gif-maker.gif" width="auto" height="auto"></section>
<hr class="light">
                <p class="text-faded">Dobot Crypto Club is a Collection Dog Robot Crypto. Each of them are Super without Generative Approach.</p>
                <a href="#" class="btn btn-default btn-xl">Coming Soon</a>
            </div>
        </div>
    </div>
</section>
